@page "/access-requests"
@using JITAccessController.Web.Blazor.Kubernetes
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using k8s
@using k8s.Autorest
@using k8s.KubeConfigModels
@using k8s.Models
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthStateProvider
@inject AccessRequestStore RequestStore
@inject AccessPolicyStore PolicyStore
@inject ClusterAccessRequestStore ClusterRequestStore
@inject ClusterAccessPolicyStore ClusterPolicyStore
@inject IKubernetes K8sClient

<PageTitle>Access Requests</PageTitle>

<h3>Cluster Access Requests</h3>
@if (clusterAccessRequests != null && clusterAccessRequests.Count > 0) {
<AccessRequestList AccessRequests="@clusterAccessRequests" CanApproveRequest="@(request => ICanApprove(request, clusterAccessPolicies))" OnRefreshRequested="Refresh" OnError="ShowError" />
}
else {
    <p>No cluster access requests were found</p>
}

<h3>Access Requests</h3>
@if (accessRequests != null && accessRequests.Count > 0) {
<AccessRequestList @AccessRequests=@accessRequests" CanApproveRequest="@(request => ICanApprove(request, accessPolicies))" OnRefreshRequested="Refresh" OnError="ShowError" />
}
else {
    <p>No access requests were found</p>
}

@if (!string.IsNullOrWhiteSpace(Error)) {
    <div>@Error</div>
}

@code {
    public string Error = "";
    private AuthenticationState? authState;
    private List<ClusterAccessRequest> clusterAccessRequests = new List<ClusterAccessRequest>();
    private List<ClusterAccessPolicy> clusterAccessPolicies = new List<ClusterAccessPolicy>();
    private List<AccessRequest> accessRequests = new List<AccessRequest>();
    private List<AccessPolicy> accessPolicies = new List<AccessPolicy>();

    protected bool IsAuthenticated() {
        return authState != null && authState.User.Identity != null;
    }

    protected string? GetUsername() {
        return authState?.User.Claims.FirstOrDefault(c => c.Type == "preferred_username")?.Value;
    }

    protected List<string> GetGroups() {
        if(authState == null)
            return new List<string>();
        
        return authState.User.Claims.Where(c => c.Type == "groups")
            .Select(c => "oidc" + c.Value).ToList();   
    }

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthStateProvider.GetAuthenticationStateAsync();

        ClusterRequestStore.OnChanged += Refresh;
        ClusterPolicyStore.OnChanged += Refresh;

        RequestStore.OnChanged += Refresh;
        PolicyStore.OnChanged += Refresh;

        Refresh();
    }

    private void ShowError(Exception ex) {
        Error = ex.Message;
        
        InvokeAsync(StateHasChanged);
    }

    private void Refresh()
    {
        if(authState == null || !IsAuthenticated())
            return;

        var username = authState.User.Claims.FirstOrDefault(c => c.Type == "preferred_username");
        
        if(username == null) {
            return;
        }

        clusterAccessPolicies = ClusterPolicyStore.All.ToList();
        clusterAccessRequests = ClusterRequestStore.All
            .Where(r => IsMyRequest(r) || ICanApprove(r, clusterAccessPolicies))
            .ToList();

        accessPolicies = PolicyStore.All.ToList();
        accessRequests = RequestStore.All
            .Where(r => IsMyRequest(r) || ICanApprove(r, accessPolicies))
            .ToList();
        
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ClusterRequestStore.OnChanged -= Refresh;
        ClusterPolicyStore.OnChanged -= Refresh;
        RequestStore.OnChanged -= Refresh;
        PolicyStore.OnChanged -= Refresh;
    }

    private bool IsMyRequest(BaseAccessRequest request)
    {
        if (authState == null || !IsAuthenticated())
            return false;

        var username = authState.User.Claims.FirstOrDefault(c => c.Type == "preferred_username");

        if (username == null)
        {
            return false;
        }

        if (request.Spec?.Subject == username.Value)
        {
            return true;
        }

        return false;
    }

    private bool ICanApprove(BaseAccessRequest request, IEnumerable<BaseAccessPolicy> policies)
    {
        if (authState == null || !IsAuthenticated())
            return false;

        var username = authState.User.Claims.FirstOrDefault(c => c.Type == "preferred_username");
        var groups = authState.User.Claims.Where(c => c.Type == "groups").Select(c => c.Value);

        return request.CanApprove(username?.Value ?? "", groups, policies);
    }
}
